auto-save-list
url
*~
eshell
/elpa/
/recentf
*.eld
.python-environments/
tramp
*.cache
/network-security.data
/README.el
/README.html
/.emacs.desktop
/.emacs.desktop.lock
/history
/hackernews
/magithub
/image-dired/.image-dired_temp
/README.elc
/README.md
/.last-package-update-day
.DS_Store
/custom.el
