*.cache
*.eld
*~

/.emacs.desktop
/.emacs.desktop.lock
/.last-package-update-day
/README.el
/README.elc
/README.html
/README.md
/custom.el
/elpa
/emacs.desktop
/hackernews
/history
/image-dired/.image-dired_temp
/lock
/magithub
/network-security.data
/persp-confs
/quelpa
/recentf
/transient

.DS_Store
.python-environments/

auto-save-list
eshell
tramp
url
/places
/var/savehist.el
/var/keyfreq.el
/var/
